<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Sign up</div>
                <div class="panel-body">
                    <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
                        <%= render 'shared/error_messages' %>
                        <div class="form-group">
                                <%= f.label :name, class: "col-sm-3 control-label" %>
                            <div class="col-sm-9">
                                <%= f.text_field :name, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                                <%= f.label :email, class: "col-sm-3 control-label" %>
                            <div class="col-sm-9">
                                <%= f.text_field :email, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :password, class: "col-sm-3 control-label" %>
                            <div class="col-sm-9">
                                <%= f.password_field :password, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :password_confirmation, "Confirmation", class: "col-sm-3 control-label" %>
                            <div class="col-sm-9">
                                <%= f.password_field :password_confirmation, class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-6">
                                <%= f.submit "Create my account", class: "btn btn-primary" %>
                            </div>
                        </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

