<%= form_for @post do |f| %>
    <div class="field form-group">
      <%= f.label :title, class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :body, class: 'control-label' %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <%= f.fields_for :suggestion do |suggestion_form| %>
        <%=suggestion_form.label 'Suggestion title', class: 'control-label' %>
        <%= suggestion_form.text_field :title, class: 'form-control' %>
    <%end %>

    <div class="actions form-group">
      <%= f.submit 'Go' %>
    </div>
<% end %>