<%= form_for @suggestion_filter, url: suggestions_random_path, html: {class: 'form-inline'} do |f| %>
    <% if @suggestion_filter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@suggestion_filter.errors.count, "error") %> prohibited this suggestion filter from being saved:</h2>

          <ul>
            <% @suggestion_filter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :crowd, class: 'control-label' %>
      <%= f.select :crowd, CrowdRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
    </div>

    <div class="field form-group">
      <%= f.label :duration, class: 'control-label' %>
      <%= f.select :duration, DurationRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
    </div>

    <div class="field form-group">
      <%= f.label :category, class: 'control-label' %>
      <%= f.select :category, CategoryRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
    </div>

    <div class="field form-group">
      <%= f.label :site, class: 'control-label' %>
      <%= f.select :site, SiteRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
    </div>

    <div class="field form-group">
      <%= f.label :money, class: 'control-label' %>
      <%= f.select :money, MoneyRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
    </div>

    <div class="actions form-group">
      <%= f.submit 'Go' %>
    </div>

<% end %>