<h1><%= content_tag :div, @suggestion.title %></h1>
<h1><%= content_tag :div, @suggestion.description %></h1>

<div>
  <h2>Filters</h2>
<% @suggestion.attributes.each do |k, v| %>
    <% if( k && k.to_s.include?('range') && !v.nil?) %>
        <%= content_tag :p, @suggestion.send(k[/.*range/]).name %>
    <%end%>
<%end%>
</div>
<% @suggestion.posts.each do |post| %>
    <div>
      <%= content_tag :h2, post.title %>
      <%= content_tag :p, post.body %>
    </div>
<% end %>
<% @suggestion.provider_suggestions.each do |provider_suggestion| %>
    <div>
      <%= content_tag :h2, provider_suggestion.title %>
      <%= content_tag :p, provider_suggestion.description %>
    </div>
<% end %>