<%= form_for @suggestion do |f| %>
    <div>
      <%= f.fields_for :posts do |post_form| %>
          <%=post_form.label 'Post title', class: 'control-label' %>
          <%= post_form.text_field :title, class: 'form-control' %>

          <%=post_form.label 'Post body', class: 'control-label' %>
          <%= post_form.text_area :body, class: 'form-control' %>
      <%end %>

      <%= f.fields_for :provider_suggestions do |provider_suggestion_form| %>
          <%=provider_suggestion_form.label 'Provider suggestion', class: 'control-label' %>
          <%= provider_suggestion_form.text_field :title, class: 'form-control' %>

          <%=provider_suggestion_form.label 'Provider suggestion description', class: 'control-label' %>
          <%= provider_suggestion_form.text_area :description, class: 'form-control' %>
      <%end %>
    </div>


    <div>
      <div class="field form-group">
        <%= f.label :title, class: 'control-label' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :description, class: 'control-label' %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= f.label :crowd_range, class: 'control-label' %>
        <%= f.select :crowd_range_id, CrowdRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
      </div>

      <div class="field form-group">
        <%= f.label :duration_range, class: 'control-label' %>
        <%= f.select :duration_range_id, DurationRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
      </div>

      <div class="field form-group">
        <%= f.label :category_range, class: 'control-label' %>
        <%= f.select :category_range_id, CategoryRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
      </div>

      <div class="field form-group">
        <%= f.label :site_range, class: 'control-label' %>
        <%= f.select :site_range_id, SiteRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
      </div>

      <div class="field form-group">
        <%= f.label :money_range, class: 'control-label' %>
        <%= f.select :money_range_id, MoneyRange.all.map{|range| [range.name, range.id]}, class: 'form-control', include_blank: true %>
      </div>

    </div>

    <div class="actions form-group">
      <%= f.submit 'Go' %>
    </div>
<% end %>