<!DOCTYPE html>
<html>
<head>
    <title>Watodo</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container">
    <div class="row">
        <div class="col-xs-3">
            <h3><%= link_to 'Watado', suggestions_filter_path %></h3>
            <h5><%= link_to 'New post', suggestions_posts_new_path %></h5>
            <h5><%= link_to 'New provider suggestion', suggestions_provider_suggestions_new_path %></h5>
            <h5><%= link_to 'Sign up', signup_path %></h5>
        </div>
        <div class="col-xs-9">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
        </div>
        <%= debug(params) if Rails.env.development? %>
    </div>
</div>

</body>
</html>
